@import url('https://fonts.googleapis.com/css2?family=REM:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lugrasimo&display=swap');
.logo{
    font-family: 'REM', sans-serif;
    float: left;
    padding-left: 32px;
    padding-top: 30px;
   text-decoration: none;
    font-size: 22px;
    color: rgb(255, 255, 255);
}
.contain{
  height: 90vh;
  background-image: url(banner.jpg);
  background-size:cover;
  background-size: 120%;
  

}

body {
  margin: 0;
  padding: 0;
  width:100%;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #f2f2f2;
}


.main {
 padding: 40vh 0 10vh 5vh;
  width: 80%;
  text-align: left;
 
}

.hello-text {
  font-size: 9vh;
  font-weight: bold;
  font-family: 'Lugrasimo', cursive;
  color: #ffbbdc;

}
.main2 {
  display: flex;
  background-color: #1F2B21;
padding: 10vh 10vh 10vh 10vh;
}

.flex-child1{
  flex: 1;
  color: #ffbbdc;
font-size: 4vw;
font-family: 'Lugrasimo', cursive;
padding: 0 5vh 0 12vh;
}  
.flex-child2{
  flex: 2;
  color: white;
  font-size: 28px;
  padding: 0 5vh 0 25vh;
}  
.main3 {
  display: flex;
  background-color: #cdcfce;
  padding: 10vh 10vh 10vh 10vh;
}

.flex-child3{
  flex: 1;
  color: #000000;
font-size: 52px;
font-family: 'Lugrasimo', cursive;
padding: 0 5vh 0 15vh;
}  
.flex-child4{
  flex: 2;
  color: rgb(0, 0, 0);
  font-size: 28px;
 
  align-items: center;
}  
.text{
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  padding-top: 7vh;
}
.img{
  width:40vw;
  height:40vh;
  padding: 10vh 5vh 0 20vh;
 
}
.img2{
  width:35vw;
  height:40vh;
  padding: 0 20vh 0 5vh;
}
.flex-child6{
  flex: 1;
  color: #f7f4f4;
font-size: 50px;
font-family: 'Lugrasimo', cursive;
padding: 0vh 15vh 0 5vh;
}  
.flex-child5{
  flex: 1;
  color: rgb(248, 248, 248);
  font-size: 28px;
} 
.main4 {
  display: flex;
  background-color: #1F2B21;
 height: auto;
 padding: 10vh 10vh 10vh 10vh;
}
.text2{
  font-family: 'Lato', sans-serif;
  background-color: #1F2B21;
  color: white;
  font-size: 20px;
  padding: 8vh 10vh 15vh 10vh;
}


.ftext{
  font-family: 'REM', sans-serif;
  float: left;
 text-decoration: none;
  font-size: 35px;
  color: black;
  
}